.App {
  position: relative;
  min-height: 83vh;
  margin-bottom: 0 !important;
  text-align: center;
}

.navbar-brand svg {
  font-size: 2.5em;
  margin-left: .5em;
}

.footerContainer {
  position: absolute;
  width: 100%;
  bottom: 0;
}