@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.todos {
    min-height: 90vh;
    background-image: url('../../images/todo-bg.jpg');
}

.todos table {
    opacity: .9;
}
.todos table th {
    font-size: 1.3em;
    font-family: 'PT Serif', serif;
}
.todos table tr {
    font-family: 'PT Serif', serif;
}